###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.txt		text

*.bat		text eol=crlf
*.cmd		text eol=crlf
*.ps1		text working-tree-encoding=UTF-16
*.sh		text eol=lf

*.dbproj	text eol=crlf
*.csproj    text eol=crlf
*.fsproj	text eol=crlf
*.lsproj	text eol=crlf
*.modelproj	text eol=crlf
*.sqlproj	text eol=crlf
*.vbproj	text eol=crlf
*.vcproj	text eol=crlf
*.vcxproj	text eol=crlf
*.wixproj	text eol=crlf
*.wwapproj	text eol=crlf
*.sln		test eol=crlf

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpeg 	binary
*.jpg   binary
*.png   binary
*.gif   binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain
